
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    
}

 


.card {
    background-color: white;
    height: 500px;
    width: 250px;
    font-family: Outfit;
    align-items: center;
}