
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    
}

 


.card {
    background-color: white;
    height: 500px;
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: Outfit;
    align-items: center;
}